{% extends 'base.html.twig' %}

{% block title %}Accueil Listes des restaurants{% endblock %}

{% block body %}

<main>
    {{ include('component/header.html.twig') }}
    <form class="login100-form validate-form" id="case_search_code" >
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
            <input class="input100" type="text" placeholder="Entrer un code postal" name="code_postal" id="inputEmail" class="form-control" required>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa-solid fa-location-dot"></i>
            </span>
        </div>
    </form>
    <section class="grid_restaurant">
    {% for restaurant in restaurants %}
    <div class="container page-wrapper">
        <div class="page-inner">
            <div class="row">
                <div class="el-wrapper">
                    <div class="box-up">
                    <img class="img" src="" alt="">
                    <div class="img-info">
                        <div class="info-inner">
                        <span class="p-name">{{ restaurant.name }}</span>
                        <span class="p_note">4/5</span>
                        </div>
                    </div>
                    </div>
                    <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>
                    <a class="cart" href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">
                        <span class="voir_restaurant">
                        <span class="txt">Voir le restaurant</span>
                        </span>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </section>
</main>
{% endblock %}
