<h1><span class="nombre_avis">{{avis|length}}</span>&nbsp;Avis</h1>
{% if avis|length > 0 %}
    <ul class="comment-list">
    {% for avi in avis %}
        <li class="comment">
            <div class="comment-avatar">
            <img src="avatar1.jpg" alt="Avatar">
            </div>
            <div class="comment-content">
            <div class="comment-info">
                    <span class="comment-author">
                        {% for i in 1..avi.rating %}
                            <i class="fa-solid fa-star"></i>
                        {% endfor %}
                    </span>
                <span class="comment-date">{{avi.createdAt|date('d/m/Y')}}</span>
            </div>
            <p class="comment-text">{{avi.message}}</p>
            {% if is_granted('ROLE_RESTO') %}
                <a class="link_repondre"><i class="fa-solid fa-turn-up"></i>Répondre</a>
            {% endif %}
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <div>
        <p>Aucun avis sur le restaurant</p>
    </div>
{% endif %}
