{% extends 'base.html.twig' %}

{% block title %}Modification du Restaurant{% endblock %}

{% block body %}
    {{ include('component/header.html.twig') }}
    <h1 class="titre_form_resto">Modification du Restaurant</h1>
    {{ include('restaurant/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('restaurant/_delete_form.html.twig') }}
{% endblock %}
