{% extends 'base.html.twig' %}

{% block title %}Création d'un restaurant{% endblock %}

{% block body %}
    {{ include('component/header.html.twig') }}
        <h1 class="titre_form_resto">Création d'un Restaurant</h1>
    {{ include('restaurant/_form.html.twig') }}

{% endblock %}
